@import "tailwindcss";

@layer base {
  body {
    font-family: 'Cairo', system-ui, -apple-system, sans-serif;
  }
}

.font-cairo {
  font-family: 'Cairo', system-ui, -apple-system, sans-serif;
}

.font-inter {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
